/* variables */
//size variable
:export{
    
}
$boardSize: 500px;
$scoreBoardHeight: 50px;
$buttonBoardHeight: 50px;
$cellSize: 10px;

// color variable
$boardColor:  rgb(228, 228, 228);
$borderColor: #aaaaaa ;
$extraBoardColor: $borderColor;
$snakeHeadColor: rgb(16, 128, 109);
$snakeTailColor: rgb(6, 204, 178);
$foodColor: rgb(151, 1, 1);
$scoreColor: $snakeTailColor;
$lostColor: $foodColor;
$winColor: $snakeTailColor;
$buttonHoverColor: $snakeTailColor;

.game-board{
    background-color: rgba(255, 255, 255, 0.9);
    width: $boardSize;
    height: $boardSize + $scoreBoardHeight + $buttonBoardHeight;
    margin: 0 auto;
}

.score-board{
    background-color: $extraBoardColor;
    color: $scoreColor;
    width: $boardSize;
    height: $scoreBoardHeight;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px $snakeHeadColor;
    font-size: 30px;
}

.snake-board-background{
    background-color:$boardColor;
    width: $boardSize; 
    height: $boardSize; 
    display: grid; 
    grid-template-columns: repeat($boardSize/$cellSize, $cellSize); 
    grid-template-rows: repeat($boardSize/$cellSize, $cellSize); 
    grid-gap: 0;    
}

.board-lost{
    width: $boardSize;
    height: $boardSize;
    color: $lostColor;
    text-align: center;
    padding-top: $boardSize/10*4;
    font-size: $boardSize/10;
}

.board-win{
    width: $boardSize;
    height: $boardSize;
    color: $winColor;
    text-align: center;
    padding-top: $boardSize/10*4;
    font-size: $boardSize/10;
}

.cell{
    // background-color: grey;
    width: $cellSize;
    height: $cellSize;
    border:$borderColor .5px solid
}

.snake-head{
    background-color: $snakeHeadColor;
    width: $cellSize;
    height: $cellSize;
}

.snake-tail{
    background-color: $snakeTailColor;    
    width: $cellSize;
    height: $cellSize;
}

.food{
    background-color: $foodColor;
    width: $cellSize;
    height: $cellSize;
}

.button-board{
    background-color: $extraBoardColor;
    width: $boardSize;
    height: $buttonBoardHeight;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.button{
    :hover{
        background-color: $buttonHoverColor;
    }
    margin: $buttonBoardHeight/5;
}

.button:hover{
    background-color: $buttonHoverColor;
}

.setting-lists{
    list-style-type: none;
    margin: 0;
    padding: 0;
}