/* variables */
$boardSize: 500px;
$cellSize: 10px;

.board-background{
    background-color: rgb(190, 190, 190); 
    width: $boardSize; 
    height: $boardSize; 
    display: grid; 
    grid-template-columns: repeat($boardSize/$cellSize, $cellSize); 
    grid-template-rows: repeat($boardSize/$cellSize, $cellSize); 
    grid-gap: 0;
    /*Customization*/
    margin: 50px auto;
    
}

.cell{
    // background-color: grey;
    width: $cellSize;
    height: $cellSize;
    border: #aaaaaa .5px solid
}

.snake-head{
    background-color: rgb(16, 128, 109);
    width: $cellSize;
    height: $cellSize;
}

.snake-tail{
    background-color: rgb(6, 204, 178);    
    width: $cellSize;
    height: $cellSize;
}

.food{
    background-color: rgb(151, 1, 1);
    width: $cellSize;
    height: $cellSize;
}